.project
{
    .intro-project-cover
    {
        background: rgba(0, 0, 0, 0.55);
        background-blend-mode: darken;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-image: url(./images/certimin.png);
        
        color: white;
    }
}