<div class="project-section">
    <section class="section px-0">
        <div class="columns is-gapless">
            <div class="column">
                <div class="project-panel">
                    <div class="project-panel-content columns is-vcentered">
                        <div class="column is-6">
                            <p class="mb-2">App</p>
                            <h2 class="has-text-weight-bold">Trackd</h2>
                            <h3 class="mb-5">Trident Cloud</h3>
                            <p>
                                Add dynamic music and audio to your video
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project-panel">
                    <div class="project-panel-content columns is-vcentered">
                        <div class="column is-6">
                            <p class="mb-2">App</p>
                            <h2 class="has-text-weight-bold">Trackd</h2>
                            <h3 class="mb-5">Trident Cloud</h3>
                            <p>
                                Add dynamic music and audio to your video
                                content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="project-panel">
                    <div class="project-panel-content columns is-vcentered">
                        <div class="column is-6">
                            <h2 class="has-text-weight-bold">Trackd</h2>
                            <h3 class="mb-5">Trident Cloud</h3>
                            <p class="mb-2">
                                Add dynamic music and audio to your video
                                content.
                            </p>
                            <div class="tag-box mr-1">
                                <p class="tag-box-text">App</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-panel">
                    <div class="project-panel-content columns is-vcentered">
                        <div class="column is-6">
                            <p class="mb-2">App</p>
                            <h2 class="has-text-weight-bold">Trackd</h2>
                            <h3 class="mb-5">Trident Cloud</h3>
                            <p>
                                Add dynamic music and audio to your video
                                content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>