<div class="project-section">
    <section class="section">
        <div class="container">
            <h2 class="has-text-weight-bold mb-4">Projects</h2>
            <div class="columns">
                <div class="column py-1 is-4 input-rounded">
                    <div class="field">
                        <input type="text" class="input px-5 has-text-weight-bold" v-model="searchKeyword" placeholder="Search Projects">
                    </div>
                </div>
            </div>
            <div class="tag-box mr-3 mb-4 is-clickable box-shadow-1" v-for="tag of uniqueTags">
                <p class="tag-box-text" @click="tagSelected(tag)">{{ tag }}</p>
            </div>
            <project-panels :projects-data="projectsData" @tag-selected="tagSelected"></project-panels>
        </div>
    </section>
</div>