@import "./_variables.scss";
@import "~bulma/bulma";

* 
{
    box-sizing: border-box;
}

h1
{
    font-size: 3.25rem;
}

h2
{
    font-size: 2.625rem;
}

h3
{
    font-size: 1.625rem;
}

h4
{
    font-size: 1.25rem;
}

p
{
    font-size: 1.25rem;
}

a 
{
    color: #000000;
    text-decoration: none;
    
    display: inline-block;
    position: relative;
}

a:after 
{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.125rem;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

a:hover:after 
{ 
    width: 100%; 
    left: 0; 
}

.box-shadow-1
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-shadow-2
{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.box-shadow-3
{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.box-shadow-4
{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.border-radius-1
{
    border-radius: 20px;
}

.icon
{
    stroke: white;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    
    &.is-dark
    {
        stroke: $dark;
    }
    
    &.is-small
    {
        width: 10px;
        height: 10px;
    }
}

$input-radius: 50px;
