@import "../../styles/main.scss";

.custom-navbar
{
    .navbar
    {
        padding: 1rem 3rem;
        
        @include until($tablet)
        {
            padding: 1rem 0.25rem;
        }
    }
    
    .navbar-menu
    {
        box-shadow: none;
        
        &.is-active
        {
            padding-left: 0.50rem;
        }
    }
    
    .navbar-wrapper
    {
        height: 5.25rem;
    }
    
    .navbar-logo
    {
        position: absolute;
        left: 50%;
        bottom: 1rem;
    }
}