<div class="custom-navbar">
    <div class="navbar-wrapper">
        <nav class="navbar is-fixed-top p-4">
            <div class="navbar-brand">
                <figure class="image is-64x64 is-hidden-desktop">
                    <img src="./images/Benlogo.svg" alt="">
                </figure>
                <div class="navbar-burger mt-1">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div class="navbar-menu is-active">
                <div class="navbar-start">
                    <div class="navbar-item mx-6">
                        <h4>About_Me</h4>
                    </div>
                    <div class="navbar-item mr-6">
                        <h4>Projects</h4>
                    </div>
                    <div class="navbar-item mr-6">
                        <h4>Experiences</h4>
                    </div>
                </div>
                <div class="navbar-logo is-hidden-mobile">
                    <figure class="image is-48x48" >
                        <img src="./images/Benlogo.svg" alt="">
                    </figure>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item mr-6">
                        <svg class="icon is-dark">
                            <use xlink:href="~feather#linkedin"></use>
                        </svg>
                    </div>
                    <div class="navbar-item mr-6">
                        <svg class="icon is-dark">
                            <use xlink:href="~feather#github"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>