<div class="intro-hero">
    <div class="intro-hero-anchor" id="intro-hero"></div>
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-6 pr-4 slideLeft">
                        <h1 class="has-text-weight-bold">
                            <span style="color:#FF6130;">H</span
                            ><span style="color:#F05E3D;">e</span
                            ><span style="color:#E15C4B;">l</span
                            ><span style="color:#D25959;">l</span
                            ><span style="color:#C35767;">o</span
                            ><span style="color:#B45474;">,</span>
                            <span style="color:#965090;">I</span
                            ><span style="color:#874D9E;">'</span
                            ><span style="color:#784BAC;">m</span>
                            <span style="color:#5A46C7;">B</span
                            ><span style="color:#4B44D5;">e</span
                            ><span style="color:#3C41E3;">n</span
                            ><span style="color:#2D3FF1;">.</span>
                            <br />
                            A Full-Stack Developer.
                        </h1>
                        <p class="mt-4">
                            I'm a <strong>Full-Stack Developer</strong>, who is
                            a 3rd year student studying at the
                            <strong>University of Toronto</strong> specializing
                            in
                            <strong>Machine Learning and Data Mining</strong>
                            and a
                            <strong>Software Developer</strong> at
                            <strong
                                ><span style="color:#FF0000;">O</span
                                ><span style="color:#D4002A;">r</span
                                ><span style="color:#AA0055;">a</span
                                ><span style="color:#7F007F;">c</span
                                ><span style="color:#5500AA;">l</span
                                ><span style="color:#2A00D4;">e</span></strong
                            >
                            and Web Developer at
                            <strong>
                                <span style="color:#FF0000;">H</span
                                ><span style="color:#D4002A;">T</span
                                ><span style="color:#7F007F;">V</span>
                            </strong>
                            Exec Team.
                        </p>
                    </div>
                    <div class="column is-6 reveal">
                        <div class="hero-image-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
