.intro-hero
{
    .hero-image-container
    {
        width: 100%;
        min-height: 35rem;
        border-radius: 20px;
        
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-image: url(./images/2F118A1B-B769-4127-A33A-9D3FFC60CFBB.JPG);
        
        transition: 500ms all;
    }
    
    .hero-image-container:hover
    {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
    }
}