<div class="custom-footer">
    <section class="section has-background-dark">
        <div class="container">
            <div class="is-flex is-justify-content-center">
                <div>
                    <div class="mb-5 is-flex is-justify-content-center">
                        <svg class="icon mr-3">
                            <use xlink:href="~feather#linkedin"></use>
                        </svg>
                        <svg class="icon mr-3">
                            <use xlink:href="~feather#github"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="~feather#instagram"></use>
                        </svg>
                    </div>
                    <p class="has-text-weight-bold has-text-grey">
                        © 2021 Benjamin Saobuppha
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>