<div class="custom-footer">
    <section class="section has-background-dark">
        <div class="container">
            <div class="is-flex is-justify-content-center">
                <div>
                    <div class="mb-5 is-flex is-justify-content-center">
                        <svg
                            class="icon mr-3 is-clickable"
                            @click="gotoLinkedIn"
                        >
                            <use xlink:href="~feather#linkedin"></use>
                        </svg>
                        <svg class="icon mr-3 is-clickable" @click="gotoGithub">
                            <use xlink:href="~feather#github"></use>
                        </svg>
                        <svg class="icon is-clickable" @click="gotoInstagram">
                            <use xlink:href="~feather#instagram"></use>
                        </svg>
                    </div>
                    <p
                        class="has-text-weight-semibold has-text-centered has-text-grey mb-3"
                    >
                        © 2022 Benjamin Saobuppha
                    </p>
                    <p
                        class="is-size-7 has-text-centered has-text-weight-semibold"
                    >
                        v2.1.4
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
