<div class="work-section">
    <section class="section">
        <div class="container">
            <div class="timeline">
                <div class="card-hover-animation mb-5">
                    <div class="timeline-bubble"></div>
                    <div class="columns is-mobile is-gapless custom-work-card">
                        <div
                            class="column custom-work-card-start has-background-dark"
                        ></div>
                        <div
                            class="column custom-work-card-main has-background-light"
                        ></div>
                    </div>
                </div>

                <div class="card-hover-animation mb-5">
                    <div class="timeline-bubble"></div>
                    <div class="columns is-mobile is-gapless custom-work-card">
                        <div
                            class="column custom-work-card-start has-background-dark"
                        ></div>
                        <div
                            class="column custom-work-card-main has-background-light"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>