@import "../../../../styles/main.scss";

.work-section
{
    position: relative;
    
    .timeline
    {
        @include from($tablet)
        {
            margin-left: 3rem;
            padding-left: 2.5rem;

            border-left: 0.3125rem solid #7A7A7A;
        }
    }
    
    
    .work-section-anchor
    {
        position: absolute;
        top: -5rem;
    }
}