.list-todos-view
{
    padding: 50px;
    
    .create-todo-button
    {
        margin: 25px;
    }
    
    .todo-container
    {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-evenly;
    }
}