<div class="todo-view">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{todo.title}}
            </p>
            <div v-show="todo.isCompleted" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="material-icons">done</i>
                </span>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                {{todo.description}}
            </div>
        </div>
        <footer class="card-footer">
            <a v-show="!todo.isCompleted" href="#" class="card-footer-item"
                v-on:click.prevent="completeTodo">Complete</a>
            <a href="#" class="card-footer-item" v-on:click.prevent="editTodo">Edit</a>
            <a href="#" class="card-footer-item" v-on:click.prevent="deleteTodo">Delete</a>
        </footer>
    </div>
</div>